# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables and secrets
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
logs/*.log
*.log

# Mac system files
.DS_Store

# IDE/editor files
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.bak
